// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$primary-color: #b4befe;
$secondary-color: rgba($primary-color, 0.1);
$workspace-background-transition-duration: 150ms;

* {
  all: unset;
}

window.Bar {
  background: transparent;
  color: $fg-color;
  font-family: "Rubik", "Geist", "AR One Sans", "Reddit Sans", "Inter", "Roboto", "Ubuntu", "Noto Sans", sans-serif;

  bar_overlay_box {
    background: $bg-color;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    battery_box {
      font-size: x-small;
    }

    calendar_box {
      font-size: small;
    }
  }
}

@keyframes workspace-fill-background {
  from {
    background-color: transparent;
  }

  to {
    background-color: $primary-color;
  }
}

.workspace {
  border: 1px solid $primary-color;
  border-radius: 50%;
  transition: background-color $workspace-background-transition-duration ease-in;
  background-color: transparent;
}

.workspace-active {
  animation: workspace-fill-background $workspace-background-transition-duration ease-in forwards;
}

dot {
  border: 1px solid $primary-color;
  border-radius: 50%;
  background-color: $primary-color;
}

pill {
  border: 1px solid $secondary-color;
  border-radius: 999em;
  padding-left: 8px;
  padding-top: 2px;
  padding-right: 8px;
  padding-bottom: 2px;
  background-color: $secondary-color;
}