/* firefox constants */
:root {
  --toolbar-button-width: 45px; /* width of all panels buttons */
  --titlebar-buttonbox-width: calc(var(--toolbar-button-width) * 3);
}

/* common */
:root {
  --animation-duration: 0.25s;
  --transition: var(--animation-duration) ease-out;

  --rounding-sm: 11.5px;
  --rounding-md: 15px;
  --rounding-lg: 20px;
  --rounding-xl: 30px;

  /* TODO shy */
  --margin: 0.8rem;
}

/* toolbar */
:root {
  --titlebar-left-offset: var(--titlebar-buttonbox-width);
  --titlebar-height: 50px;
  --titlebar-top-padding: 10px;

  --toolbar-bookmarksbar-top-offset: var(--titlebar-height);
  --toolbar-bookmarksbar-height: 35px;
}

/* sidebar */
:root {
  --sidebar-width: 79px;
  --sidebar-hover-width: 300px;
  --sidebar-hover-trigger-width: calc(
    var(--sidebar-width) + var(--content-area-left-padding)
  );

  --sidebar-top-offset: calc(
    var(--titlebar-height) + var(--toolbar-bookmarksbar-height)
  );
  --sidebar-height: calc(100vh - var(--sidebar-top-offset));
}

/* content area */
:root {
  /* how much to move the content box, to create space for the sidebar */
  --content-area-left-offset: var(--sidebar-width);
  --content-area-top-offset: calc(
    var(--titlebar-height) + var(--toolbar-bookmarksbar-height)
  );

  --content-area-left-padding: 12px;
  --content-area-top-padding: 4px;
  --content-area-right-padding: 24px;
  --content-area-bottom-padding: 4px;

  --content-area-rounding: var(--rounding-md);

  --content-area-border: solid 2px var(--border-color);
}

/* firefox theme color */
:root {
  --bg-color: var(--lwt-accent-color);
  --border-color: rgb(from var(--toolbar-field-focus-border-color) r g b / 25%);
}

/* current tab loading progress */
#main-window {
  &:has(.tabbrowser-tab[selected][busy]) {
    --shy-tab-load-pcent: 20%;
  }
  &:has(.tabbrowser-tab[selected][busy][pendingicon]) {
    --shy-tab-load-pcent: 50%;
  }
  &:has(.tabbrowser-tab[selected][busy][pendingicon][progress]) {
    --shy-tab-load-pcent: 85%;
  }
  &:has(.tabbrowser-tab[selected][busy][progress]) {
    --shy-tab-load-pcent: 95%;
  }
}

/* globalise download percentages (yes, i am a clown) */
#main-window {
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 0%;"]
    ) {
    --shy-download-pcent: 0%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 1%;"]
    ) {
    --shy-download-pcent: 1%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 2%;"]
    ) {
    --shy-download-pcent: 2%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 3%;"]
    ) {
    --shy-download-pcent: 3%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 4%;"]
    ) {
    --shy-download-pcent: 4%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 5%;"]
    ) {
    --shy-download-pcent: 5%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 6%;"]
    ) {
    --shy-download-pcent: 6%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 7%;"]
    ) {
    --shy-download-pcent: 7%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 8%;"]
    ) {
    --shy-download-pcent: 8%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 9%;"]
    ) {
    --shy-download-pcent: 9%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 10%;"]
    ) {
    --shy-download-pcent: 10%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 11%;"]
    ) {
    --shy-download-pcent: 11%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 12%;"]
    ) {
    --shy-download-pcent: 12%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 13%;"]
    ) {
    --shy-download-pcent: 13%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 14%;"]
    ) {
    --shy-download-pcent: 14%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 15%;"]
    ) {
    --shy-download-pcent: 15%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 16%;"]
    ) {
    --shy-download-pcent: 16%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 17%;"]
    ) {
    --shy-download-pcent: 17%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 18%;"]
    ) {
    --shy-download-pcent: 18%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 19%;"]
    ) {
    --shy-download-pcent: 19%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 20%;"]
    ) {
    --shy-download-pcent: 20%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 21%;"]
    ) {
    --shy-download-pcent: 21%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 22%;"]
    ) {
    --shy-download-pcent: 22%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 23%;"]
    ) {
    --shy-download-pcent: 23%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 24%;"]
    ) {
    --shy-download-pcent: 24%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 25%;"]
    ) {
    --shy-download-pcent: 25%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 26%;"]
    ) {
    --shy-download-pcent: 26%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 27%;"]
    ) {
    --shy-download-pcent: 27%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 28%;"]
    ) {
    --shy-download-pcent: 28%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 29%;"]
    ) {
    --shy-download-pcent: 29%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 30%;"]
    ) {
    --shy-download-pcent: 30%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 31%;"]
    ) {
    --shy-download-pcent: 31%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 32%;"]
    ) {
    --shy-download-pcent: 32%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 33%;"]
    ) {
    --shy-download-pcent: 33%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 34%;"]
    ) {
    --shy-download-pcent: 34%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 35%;"]
    ) {
    --shy-download-pcent: 35%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 36%;"]
    ) {
    --shy-download-pcent: 36%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 37%;"]
    ) {
    --shy-download-pcent: 37%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 38%;"]
    ) {
    --shy-download-pcent: 38%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 39%;"]
    ) {
    --shy-download-pcent: 39%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 40%;"]
    ) {
    --shy-download-pcent: 40%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 41%;"]
    ) {
    --shy-download-pcent: 41%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 42%;"]
    ) {
    --shy-download-pcent: 42%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 43%;"]
    ) {
    --shy-download-pcent: 43%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 44%;"]
    ) {
    --shy-download-pcent: 44%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 45%;"]
    ) {
    --shy-download-pcent: 45%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 46%;"]
    ) {
    --shy-download-pcent: 46%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 47%;"]
    ) {
    --shy-download-pcent: 47%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 48%;"]
    ) {
    --shy-download-pcent: 48%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 49%;"]
    ) {
    --shy-download-pcent: 49%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 50%;"]
    ) {
    --shy-download-pcent: 50%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 51%;"]
    ) {
    --shy-download-pcent: 51%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 52%;"]
    ) {
    --shy-download-pcent: 52%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 53%;"]
    ) {
    --shy-download-pcent: 53%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 54%;"]
    ) {
    --shy-download-pcent: 54%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 55%;"]
    ) {
    --shy-download-pcent: 55%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 56%;"]
    ) {
    --shy-download-pcent: 56%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 57%;"]
    ) {
    --shy-download-pcent: 57%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 58%;"]
    ) {
    --shy-download-pcent: 58%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 59%;"]
    ) {
    --shy-download-pcent: 59%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 60%;"]
    ) {
    --shy-download-pcent: 60%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 61%;"]
    ) {
    --shy-download-pcent: 61%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 62%;"]
    ) {
    --shy-download-pcent: 62%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 63%;"]
    ) {
    --shy-download-pcent: 63%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 64%;"]
    ) {
    --shy-download-pcent: 64%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 65%;"]
    ) {
    --shy-download-pcent: 65%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 66%;"]
    ) {
    --shy-download-pcent: 66%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 67%;"]
    ) {
    --shy-download-pcent: 67%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 68%;"]
    ) {
    --shy-download-pcent: 68%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 69%;"]
    ) {
    --shy-download-pcent: 69%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 70%;"]
    ) {
    --shy-download-pcent: 70%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 71%;"]
    ) {
    --shy-download-pcent: 71%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 72%;"]
    ) {
    --shy-download-pcent: 72%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 73%;"]
    ) {
    --shy-download-pcent: 73%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 74%;"]
    ) {
    --shy-download-pcent: 74%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 75%;"]
    ) {
    --shy-download-pcent: 75%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 76%;"]
    ) {
    --shy-download-pcent: 76%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 77%;"]
    ) {
    --shy-download-pcent: 77%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 78%;"]
    ) {
    --shy-download-pcent: 78%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 79%;"]
    ) {
    --shy-download-pcent: 79%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 80%;"]
    ) {
    --shy-download-pcent: 80%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 81%;"]
    ) {
    --shy-download-pcent: 81%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 82%;"]
    ) {
    --shy-download-pcent: 82%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 83%;"]
    ) {
    --shy-download-pcent: 83%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 84%;"]
    ) {
    --shy-download-pcent: 84%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 85%;"]
    ) {
    --shy-download-pcent: 85%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 86%;"]
    ) {
    --shy-download-pcent: 86%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 87%;"]
    ) {
    --shy-download-pcent: 87%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 88%;"]
    ) {
    --shy-download-pcent: 88%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 89%;"]
    ) {
    --shy-download-pcent: 89%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 90%;"]
    ) {
    --shy-download-pcent: 90%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 91%;"]
    ) {
    --shy-download-pcent: 91%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 92%;"]
    ) {
    --shy-download-pcent: 92%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 93%;"]
    ) {
    --shy-download-pcent: 93%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 94%;"]
    ) {
    --shy-download-pcent: 94%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 95%;"]
    ) {
    --shy-download-pcent: 95%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 96%;"]
    ) {
    --shy-download-pcent: 96%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 97%;"]
    ) {
    --shy-download-pcent: 97%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 98%;"]
    ) {
    --shy-download-pcent: 98%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 99%;"]
    ) {
    --shy-download-pcent: 99%;
  }
  &:has(
      #downloads-indicator-progress-inner[style="--download-progress-pcent: 100%;"]
    ) {
    --shy-download-pcent: 100%;
  }
}
